.app-content > div div:nth-child(1) {
  background-color: #009688;
}
.app-content > div div:nth-child(2) {
  background-color: #3949ab;
}
.app-content > div div:nth-child(3) {
  background-color: #9c27b0;
}
.app-content > div div:nth-child(4) {
  background-color: #8bc34a;
}
.app-content > div div:nth-child(5)  {
  background-color: #deb867;
}
.app-content > div div:nth-child(6) {
  background-color: #FF5722;
}
.app-content > div div:nth-child(7)  {
  background-color: #03A9F4;
}
