<md-sidenav-layout>
  <md-sidenav #sidenav mode="side" class="app-sidenav">
    Sidenav
    <!-- <h1>My First Angular 2 App</h1> -->
  </md-sidenav>

  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>

    Angular Material2 Example App

    <span class="app-toolbar-filler"></span>
  </md-toolbar>

  <div class="app-content">

    <md-card>
      <button md-button>FLAT</button>
      <button md-raised-button md-tooltip="This is a tooltip!">RAISED</button>
      <button md-raised-button color="primary">PRIMARY RAISED</button>
      <button md-raised-button color="accent">ACCENT RAISED</button>
    </md-card>

    <md-card>
      <md-checkbox>Unchecked</md-checkbox>
      <md-checkbox [checked]="true">Checked</md-checkbox>
      <md-checkbox [indeterminate]="true">Indeterminate</md-checkbox>
      <md-checkbox [disabled]="true">Disabled</md-checkbox>
    </md-card>

    <md-grid-list cols="3">
      <md-grid-tile class="gray"
          md-rowspan="3" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
        <md-grid-tile-footer>
          <h3>#1: (3r x 2c)</h3>
        </md-grid-tile-footer>
      </md-grid-tile>
      <md-grid-tile class="green">
        <md-grid-tile-footer>
          <h3>#2: (1r x 1c)</h3>
        </md-grid-tile-footer>
      </md-grid-tile>
      <md-grid-tile class="yellow">
        <md-grid-tile-footer>
          <h3>#3: (1r x 1c)</h3>
        </md-grid-tile-footer>
      </md-grid-tile>
      <md-grid-tile class="blue"
          md-rowspan="2">
        <md-grid-tile-footer>
          <h3>#4: (2r x 1c)</h3>
        </md-grid-tile-footer>
      </md-grid-tile>
      <md-grid-tile class="red"
          md-rowspan="2" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
        <md-grid-tile-footer>
          <h3>#5: (2r x 2c)</h3>
        </md-grid-tile-footer>
      </md-grid-tile>
      <md-grid-tile class="green"
          md-rowspan="2" >
        <md-grid-tile-footer>
          <h3>#6: (2r x 1c)</h3>
        </md-grid-tile-footer>
      </md-grid-tile>
    </md-grid-list>

    <md-card>
      <md-card-header>
        <md-card-avatar>
          <img class="md-user-avatar" src="avatar.png">
        </md-card-avatar>
        <md-card-header-text>
          <span class="md-title">Title</span>
          <span class="md-subhead">Sub header</span>
        </md-card-header-text>
      </md-card-header>
      <img ng-src="card-image.png" class="md-card-image" alt="image caption">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Card headline</span>
          <span class="md-subhead">Card subheader</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-actions layout="row" layout-align="start center">
        <md-button>Action 1</md-button>
        <md-button>Action 2</md-button>
        <md-card-icon-actions>
          <md-button class="md-icon-button" aria-label="icon">
            <md-icon md-svg-icon="icon"></md-icon>
          </md-button>
        </md-card-icon-actions>
      </md-card-actions>
      <md-card-content>
        <p>
         Card content
        </p>
      </md-card-content>
    </md-card>

    <md-card>
      <md-radio-button name="symbol">Alpha</md-radio-button>
      <md-radio-button name="symbol">Beta</md-radio-button>
      <md-radio-button name="symbol" disabled>Gamma</md-radio-button>
    </md-card>

    <md-card class="app-input-section">
      <md-input placeholder="First name"></md-input>

      <md-input #nickname placeholder="Nickname" maxlength="50">
        <md-hint align="end">
          {{nickname.characterCount}} / 50
        </md-hint>
      </md-input>

      <md-input>
        <md-placeholder>
          <i class="material-icons app-input-icon">android</i> Favorite phone
        </md-placeholder>
      </md-input>

      <md-input placeholder="Motorcycle model">
        <span md-prefix>
          <i class="material-icons app-input-icon">motorcycle</i>
          &nbsp;
        </span>
      </md-input>
    </md-card>

    <md-card>
      <md-list class="app-list">
        <md-list-item *ngFor="let food of foods">
          <h3 md-line>{{food.name}}</h3>
          <p md-line class="demo-secondary-text">{{food.rating}}</p>
        </md-list-item>
      </md-list>
    </md-card>

    <md-card>
      <md-spinner class="app-spinner"></md-spinner>
      <md-spinner color="accent" class="app-spinner"></md-spinner>
    </md-card>

    <md-card>
      <label>
        Indeterminate progress-bar
        <md-progress-bar
            class="app-progress"
            mode="indeterminate"
            aria-label="Indeterminate progress-bar example"></md-progress-bar>
      </label>

      <label>
        Determinate progress bar - {{progress}}%
        <md-progress-bar
            class="app-progress"
            color="accent"
            mode="determinate"
            [value]="progress"
            aria-label="Determinate progress-bar example"></md-progress-bar>
      </label>
    </md-card>

    <md-card>
      bla
    </md-card>


    <md-card>
      <md-icon>build</md-icon>
    </md-card>

  </div>

</md-sidenav-layout>

<span class="app-action">
  <button md-fab><md-icon>check circle</md-icon></button>
</span>
