<md-card>
  <div class="md-card">

    <div id="test">

    </div>
    <img md-card-image alt="Porter" src="/images/bg.jpg" style="min-height:335px;">
    <!-- <img md-card-image alt="Porter" src="https://tripl-staging-files.s3.amazonaws.com/hotplace_image/49c39d5b-c4c3-430e-8be1-5d525faf6da4/f09a0c36-5f80-4f19-a343-4bdf70c6a09a.jpg"> -->

    <md-card-title>Porter</md-card-title>

    <md-card-content class="secondary">
      Very ipsum such dolor amet wow very divs very content concern, very much develop much.
    </md-card-content>

  </div>
</md-card>
