<h2 style="text-align:center;">Dashboard</h2>

<div class="app-content">
  <div layout="row">
    <div flex-gt-sm="66" flex="33" layout-padding>
      flex 33% on mobile, <br>and 66% on gt-sm devices.
    </div>
    <div flex-gt-sm="33" flex="66" layout-padding>
      flex 66%  on mobile, <br>and 33% on gt-sm devices.
    </div>
  </div>

  <br />
  <div layout="row" layout-wrap layout-align="space-between center">
    <div flex="30" layout-padding>
      [flex="30"]
    </div>
    <div flex="30">
      [flex="45"]
    </div>
    <div flex="30">
      [flex="25"]
    </div>
    <div flex="33">
      [flex="33"]
    </div>
    <div flex="66">
      [flex="66"]
    </div>
    <div flex="50">
      [flex="50"]
    </div>
    <div flex>
      [flex]
    </div>
  </div>

  <br />
  <div layout="row" layout-wrap="" class="layout-wrap layout-row layout-align-space-between-center">
    <div flex="30" class="flex-30 layout-padding">
      [flex="30"]
    </div>
    <div flex="45" class="flex-45">
      [flex="45"]
    </div>
    <div flex="25" class="flex-25 layout-padding">
      [flex="25"]
    </div>
    <div flex="33" class="flex-33 layout-padding">
      [flex="33"]
    </div>
    <div flex="66" class="flex-66 layout-padding">
      [flex="66"]
    </div>
    <div flex="50" class="flex-50 layout-padding">
      [flex="50"]
    </div>
    <div flex="" class="flex layout-padding">
      [flex]
    </div>
  </div>
</div>

<div class="card-grid">
  <div class="card-grid-item" *ngFor="let hero of heroes">
    <md-card>
      <md-card-content>{{ hero.id }}. {{ hero.name }}!</md-card-content>
      <md-card-actions align="end">
        <a md-button color="primary" [routerLink]="['/heroes', hero.id]">Select</a>
      </md-card-actions>
    </md-card>
  </div>
</div>

<div class="app-content">
  <div layout="row">
    <div flex-gt-sm="66" flex="33" layout-padding>
      flex 33% on mobile, <br>and 66% on gt-sm devices.
    </div>
    <div flex-gt-sm="33" flex="66" layout-padding>
      flex 66%  on mobile, <br>and 33% on gt-sm devices.
    </div>
  </div>

  <br />
  <div layout="row" layout-wrap layout-align="space-between center">
    <div flex="30" layout-padding>
      [flex="30"]
    </div>
    <div flex="30">
      [flex="45"]
    </div>
    <div flex="30">
      [flex="25"]
    </div>
    <div flex="33">
      [flex="33"]
    </div>
    <div flex="66">
      [flex="66"]
    </div>
    <div flex="50">
      [flex="50"]
    </div>
    <div flex>
      [flex]
    </div>
  </div>

  <br />
  <div layout="row" layout-wrap="" class="layout-wrap layout-row layout-align-space-between-center">
    <div flex="30" class="flex-30 layout-padding">
      [flex="30"]
    </div>
    <div flex="45" class="flex-45">
      [flex="45"]
    </div>
    <div flex="25" class="flex-25 layout-padding">
      [flex="25"]
    </div>
    <div flex="33" class="flex-33 layout-padding">
      [flex="33"]
    </div>
    <div flex="66" class="flex-66 layout-padding">
      [flex="66"]
    </div>
    <div flex="50" class="flex-50 layout-padding">
      [flex="50"]
    </div>
    <div flex="" class="flex layout-padding">
      [flex]
    </div>
  </div>
</div>
