body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  font-family: 'Roboto',Helvetica,sans-serif;
  background-color: #f0f0f0;
}

* {
  box-sizing: border-box;
}

md-card {
  margin: 15px;
  md-card-actions {
    padding: 0 7.5px;
  }
}
